@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AutoTra.Models.ItemModel>
@{
    ViewData["Title"] = "Inspection Item Data";
    int no = 1;
}

<div class="row">
    <div class="col-lg-12">
        <br />

        <div class="card-body">

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle me-1"></i>
                        <strong>Sukses!</strong> @TempData["SuccessMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }

            <a asp-controller="Item" class="btn btn-primary" asp-action="Create">+ Add Item Inspection</a>
            <br />
            <br />
            <form method="post">
                <div style="padding-left: 1080px;">
                    <div class="col-lg-12">
                        <div class="input-group mb-12">
                            <input class="form-control" type="text" placeholder="Cari data Item Inspeksi berdasarkan nama.." aria-describedby="button-addon2" name="search">
                            <button class="btn btn-outline-secondary" id="button-addon2" type="submit">Cari</button>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div class="card">

                <!-- Table with stripped rows -->
                <table class="table datable">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Inspection Item</th>
                            <th scope="col">Inspection Standart</th>
                            <th scope="col">Inspection Category</th>
                            <th scope="col">Inspection Method</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itm in Model)
                        {
                            <tr>
                                <td>@(no++)</td>
                                <td>@itm.nama</td>
                                <td>
                                    @foreach (var std in (IEnumerable<StandarModel>)ViewData["StdList"])
                                    {
                                        @if (std.id == itm.id_standart)
                                        {
                                            <span>@std.nama</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var ktg in (IEnumerable<KategoriModel>)ViewData["KtgList"])
                                    {
                                        @if (ktg.id == itm.id_kategori)
                                        {
                                            <span>@ktg.nama</span> 
                                        }
                                    }
                                </td>
                                <td>@itm.metode_inspeksi</td>
                                <td>@(itm.status == 1 ? "Active" : "Non Active")</td>
                                <td>
                                    <button id="delete-button" class="btn btn-sm btn-danger delete-button" data-id="@itm.id_item">
                                        <i class="fas fa-trash"></i>
                                    </button>

                                    <a asp-controller="Kategori" asp-action="Edit" asp-route-id="@itm.id_item" class="btn btn-sm btn-primary">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".delete-button").click(function () {
            var id = $(this).data("id");
            console.log("Deleting Category with id:", id);

            Swal.fire({
                title: "Delete this Item Inspection?",
                text: "Are you sure to delete this data?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete.isConfirmed) {
                    $.ajax({
                        url: "/Item/Delete?id=" + id,

                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                console.log("Item Inspection deleted successfully" + id);
                                Swal.fire("Sukses!", data.message, "success");
                                location.reload();
                            } else {
                                console.log("Failed to delete Item Inspection" + id);
                                Swal.fire("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            console.log("Error during AJAX request");
                            Swal.fire("Error!", "Terjadi kesalahan saat menghapus Item Inspection.", "error");
                        }
                    });
                } else {
                    console.log("Canceled deletion");
                }
            });
        });
    });
</script>
