@model List<AutoTra.Models.DaftarPengajuanModel>
@{
    ViewData["Title"] = "List of Vehicle Usage Submissions";
    int no = 1;
    var httpcontext = ViewContext.HttpContext;
    string role = httpcontext.Session.GetString("Role");
    if (string.IsNullOrEmpty(role))
    {
        // Session is expired or role is not set, redirect to login layout
        Layout = "~/Views/Shared/Layoutlogin.cshtml";

        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>

        return;
    }
    Console.WriteLine("Role: " + role);
    if (role == "Lecturer")
    {
        Layout = "~/Views/Shared/LayoutDosen.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}


<div class="row">
    <div class="col-lg-12">
        <br />

        <div class="card-body">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle me-1"></i>
                        <strong>Sukses!</strong> @TempData["SuccessMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }

            <form method="post" asp-action="Index" asp-controller="DaftarPengajuan">
                <div style="padding-left: 1080px;">
                    <div class="col-lg-12">
                        <div class="input-group mb-12">
                            <input class="form-control" type="text" placeholder="Search Inspection Reports data by Car Model.." aria-describedby="button-addon2" name="search">
                            <button class="btn btn-primary" id="button-addon2" type="submit" title="Search">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <br />

            <div class="card">
                <table class="table datable">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">PIC Name</th>
                            <th scope="col">Vehicle Name</th>
                            <th scope="col">Date of filing</th>
                            <th scope="col">Scope</th>
                            <th scope="col">Job description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pengajuan in Model)
                        {
                            <tr>
                                <td>@(no++)</td>
                                <td>@ViewBag.picdictinary[pengajuan.nim]</td>
                                <td>
                                    @if (ViewBag.Mobildictinary != null && ViewBag.Mobildictinary.ContainsKey(pengajuan.id_mobil))
                                    {
                                        @ViewBag.Mobildictinary[pengajuan.id_mobil]
                                    }
                                </td>
                                <td>@(pengajuan.tanggl_pengajuan.ToString("dddd, dd MMMM yyyy"))</td>
                                <td>@pengajuan.skala</td>
                                <td>@pengajuan.deskripsi</td>
                                <td>
                                    @{
                                        string statusText = "";
                                        switch (pengajuan.status)
                                        {
                                            case 0:
                                                statusText = "Waiting for Confirmation";
                                                break;
                                            case 1:
                                                statusText = "Not Approved";
                                                break;
                                            case 2:
                                                statusText = "Approved";
                                                break;
                                            case 3:
                                                statusText = "Waiting for Confirmation";
                                                break;
                                            case 4:
                                                statusText = "In Progress";
                                                break;
                                            case 5:
                                                statusText = "Finished";
                                                break;
                                            default:
                                                statusText = "Unrecognized Status";
                                                break;
                                        }
                                    }
                                    @statusText
                                </td>
                                <td>
                                    @if (@pengajuan.status == 0)
                                    {
                                        <button class="btn btn-sm btn-primary acc1-button" data-toggle="modal" data-target="@pengajuan.id_pengajuan" data-id_pengajuan="@pengajuan.id_pengajuan">
                                            <i class="fa-solid fa-bars"></i>
                                        </button>
                                    }
                                    @if (@pengajuan.status == 2)
                                    {

                                    }
                                    @if (@pengajuan.status == 3)
                                    {
                                        <button class="btn btn-sm btn-success acc2-button" data-toggle="modal" data-target="@pengajuan.id_pengajuan" data-id_pengajuan="@pengajuan.id_pengajuan">
                                            <i class="fa-regular fa-file"></i>
                                        </button>
                                    }

                                    <div class="modal fade" id="acc1Modal_@pengajuan.id_pengajuan" tabindex="-1" role="dialog" aria-labelledby="acc1ModelLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title" style="font-size:28px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Submission Approval Menu</h1>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <input class="form-control" type="hidden" name="id_pengajuan">
                                                        <input class="form-control" type="hidden" name="id_mobil">
                                                        <div class="mb-3">
                                                            <label class="control-label">NIM</label>
                                                            <input class="form-control" readonly name="NIM">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="control-label">Name</label>
                                                            <input class="form-control" readonly name="NamaMhs">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="control-label">Vehicle Model</label>
                                                            <input class="form-control" readonly name="CarModel">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="control-label">Fuel</label>
                                                            <input class="form-control" readonly name="Fuel">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="control-label">Scope</label>
                                                            <input class="form-control" readonly name="Skala">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="control-label">Job Description</label>
                                                            <input class="form-control" readonly name="Job">
                                                        </div>
                                                    </form>
                                                    <hr />
                                                    <form class="approvalcar1" method="post">
                                                        <input class="form-control" type="hidden" name="id_pengajuan" />
                                                        <input class="form-control" type="hidden" name="id_mobil" />
                                                        <input class="form-control tanggalPemeriksaan" type="date" name="tanggal_pemeriksaan" hidden />
                                                        <input class="form-control" name="Skala" hidden />
                                                        <input class="form-control" name="NIM" hidden />
                                                        <input class="form-control" name="status_pemeriksaan" value=0 hidden />
                                                        <div class="mb-3">
                                                            <input type="radio" value=2 name="approvalStatus" id="inspSetuju" />
                                                            <label for="inspSetuju" style="font-size:18px; font-family:'Segoe UI'">Approve</label>
                                                            <input type="radio" value=1 name="approvalStatus" id="inspTidakSetuju" />
                                                            <label for="inspTidakSetuju" style="font-size:18px;font-family:'Segoe UI'">Reject</label><br />
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-success submitApproval">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="acc2Modal_@pengajuan.id_pengajuan" tabindex="-1" role="dialog" aria-labelledby="acc2ModelLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" style="max-width:1140px;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title" style="font-size:28px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">First Check Approval Menu</h1>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table datable">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">No</th>
                                                                <th scope="col">Inspection Item</th>
                                                                <th scope="col">Inspection Standard</th>
                                                                <th scope="col">Inspection Category</th>
                                                                <th scope="col">Inspection Method</th>
                                                                <th scope="col">Inspection Result</th>
                                                                <th scope="col">Reason Not Suitable</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbody">
                                                        </tbody>
                                                    </table>
                                                    <hr />
                                                    <form class="approvalcar2" method="post">
                                                        <input class="form-control" type="hidden" name="idpengajuan" />
                                                        <input class="form-control" type="hidden" name="idmobil" />
                                                        <input class="form-control tanggalPemeriksaan" type="date" name="tanggalpemeriksaan" hidden />
                                                        <input class="form-control" name="skala" hidden />
                                                        <input class="form-control" name="nim" hidden />
                                                        <input class="form-control" name="statuspemeriksaan" value=2 hidden />
                                                        <div class="mb-3">
                                                            <input type="radio" value=4 name="approvalStatus" id="inspSetuju" />
                                                            <label for="inspSetuju" style="font-size:18px; font-family:'Segoe UI'">Approve</label>
                                                            <input type="radio" value=1 name="approvalStatus" id="inspTidakSetuju" />
                                                            <label for="inspTidakSetuju" style="font-size:18px;font-family:'Segoe UI'">Reject</label><br />
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-success submitApproval2">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        $(".acc1-button").click(function () {
            var id_pengajuan = $(this).data("id_pengajuan");
            Approval1Action(id_pengajuan);
        });

        function Approval1Action(id_pengajuan) {
            $.ajax({
                url: "/DaftarPengajuan/Approval1/" + id_pengajuan,
                type: "GET",
                success: function (data) {
                    console.log(data);
                    $("input[name='id_pengajuan']").val(data.id_pengajuan);
                    $("input[name='id_mobil']").val(data.id_mobil);
                    $("input[name='CarModel']").val(data.nama_mobil);
                    $("input[name='Fuel']").val(data.bahan_bakar);
                    $("input[name='Skala']").val(data.skala);
                    $("input[name='NamaMhs']").val(data.nama);
                    $("input[name='NIM']").val(data.nim);
                    $("input[name='Job']").val(data.deskripsi);
                    $("#acc1Modal_" + id_pengajuan).modal("show");
                },
                error: function () {
                    console.log("Error during AJAX request for edit modal content");
                    Swal.fire("Error!", "Terjadi kesalahan saat memuat data Admin untuk diedit.", "error");
                }
            });
        }

        $(".submitApproval").click(function () {
            var approvalData = $(".approvalcar1").serialize(); // Mengambil data dari formulir

            $.ajax({
                type: "POST",
                url: "/DaftarPengajuan/Approve1",
                data: approvalData,
                success: function (response) {
                    console.log(response);

                    // Tunggu SweetAlert2 selesai dan kemudian muat ulang halaman jika perlu
                    Swal.fire({
                        title: 'Success',
                        text: response.message,
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Setelah popup SweetAlert2 ditutup, maka jalankan location.reload()
                            location.reload();
                        }
                    });
                },
                error: function () {
                    console.log("Error during AJAX request for approval");
                    Swal.fire("Error!", "Terjadi kesalahan saat menyetujui atau menolak.", "error");
                }
            });
        });


        var today = new Date().toISOString().split('T')[0];

        // Mengatur nilai input tanggal menjadi hari ini
        $('.tanggalPemeriksaan').val(today);

        $(".acc2-button").click(function () {
            var id_pengajuan1 = $(this).data("id_pengajuan");
            Approval2Action(id_pengajuan1);
        });

        function Approval2Action(id_pengajuan1) {
            $.ajax({
                url: "/DaftarPengajuan/Approval2/" + id_pengajuan1,
                method: "GET",
                contentType: "application/json",
                success: function (data) {
                    if (data && data.$values && Array.isArray(data.$values) && data.$values.length > 0) {
                        var data2 = data.$values[0]; // Mengambil data dari indeks 0

                        $("input[name='idpengajuan']").val(data2.id_pengajuan);
                        $("input[name='idmobil']").val(data2.id_mobil);
                        $("input[name='CarModel']").val(data2.nama_mobil);
                        $("input[name='Fuel']").val(data2.bahan_bakar);
                        $("input[name='skala']").val(data2.skala);
                        $("input[name='NamaMhs']").val(data2.nama);
                        $("input[name='nim']").val(data2.nim);
                        $("input[name='Job']").val(data2.deskripsi);

                        console.log(data2);

                        var tableBody = $('#acc2Modal_' + id_pengajuan1).find('table tbody');

                        if (tableBody.length > 0) {
                            tableBody.empty();

                            for (var index = 1; index < data.$values.length; index++) {
                                var item = data.$values[index];
                                var newRow = '<tr>' +
                                    '<td>' + index + '</td>' + // Nomor urut
                                    '<td>' + item.item_pemeriksaan + '</td>' +
                                    '<td>' + item.standart_pemeriksaan + '</td>' +
                                    '<td>' + item.kategori_pemeriksaan + '</td>' +
                                    '<td>' + item.metode_pemeriksaan + '</td>' +
                                    '<td>' + (item.hasil_inspeksi !== "null" ? item.hasil_inspeksi : "Not Good") + '</td>' +
                                    '<td>' + (item.alasan !== "null" ? item.alasan : "-") + '</td>' +
                                    '</tr>';
                                tableBody.append(newRow);
                            }

                            $("#acc2Modal_" + id_pengajuan1).modal("show");
                        } else {
                            console.log("Tabel tidak ditemukan.");
                        }
                    } else {
                        console.log("Data tidak sesuai atau tidak ada dalam format yang diharapkan.");
                    }
                },
                error: function () {
                    console.log("Error saat melakukan permintaan AJAX untuk Approval 2");
                    // Handle error scenario
                }
            });
        }

        $(".submitApproval2").click(function () {
            var approvalData = $('.approvalcar2').serialize();

            $.ajax({
                type: "POST",
                url: "/DaftarPengajuan/Approve2",
                data: approvalData,
                success: function (response) {
                    console.log(approvalData);

                    // Menampilkan SweetAlert ketika berhasil
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.message,
                        }).then(() => {
                            location.reload(); // Memuat ulang halaman setelah berhasil
                        });
                    } else {
                        Swal.fire('Error!', response.message, 'error');
                    }
                },
                error: function () {
                    console.log("Error during AJAX request for approval");
                    Swal.fire("Error!", "Terjadi kesalahan saat menyetujui atau menolak.", "error");
                }
            });
        });

    });
</script>
