@model List<AutoTra.Models.DaftarPengajuanModel>
@{
    ViewData["Title"] = "List of Vehicle Usage Submissions";
    int no = 1;
    var httpcontext = ViewContext.HttpContext;
    string role = httpcontext.Session.GetString("Role");
    if (string.IsNullOrEmpty(role))
    {
        // Session is expired or role is not set, redirect to login layout
        Layout = "~/Views/Shared/Layoutlogin.cshtml";

        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>

        return;
    }
    Console.WriteLine("Role: " + role);
    if (role == "Dosen")
    {
        Layout = "~/Views/Shared/LayoutDosen.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}


<div class="row">
    <div class="col-lg-12">
        <br />

        <div class="card-body">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle me-1"></i>
                        <strong>Sukses!</strong> @TempData["SuccessMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }

            <div class="card">
                <table class="table datable">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">PIC Name</th>
                            <th scope="col">Vehicle Name</th>
                            <th scope="col">Date of filing</th>
                            <th scope="col">Scope</th>
                            <th scope="col">Job description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pengajuan in Model)
                        {
                            <tr>
                                <td>@(no++)</td>
                                <td>@ViewBag.picdictinary[pengajuan.nim]</td>
                                <td>
                                    @if (ViewBag.Mobildictinary != null && ViewBag.Mobildictinary.ContainsKey(pengajuan.id_mobil))
                                    {
                                        @ViewBag.Mobildictinary[pengajuan.id_mobil]
                                    }
                                </td>
                                <td>@(pengajuan.tanggl_pengajuan?.ToString("dd-MM-yyyy"))</td>
                                <td>@pengajuan.skala</td>
                                <td>@pengajuan.deskripsi</td>
                                <td>
                                    @{
                                        string statusText = "";
                                        switch (pengajuan.status)
                                        {
                                            case 0:
                                                statusText = "Diajukan";
                                                break;
                                            case 1:
                                                statusText = "Tidak Disetujui";
                                                break;
                                            case 2:
                                                statusText = "Disetujui";
                                                break;
                                            case 3:
                                                statusText = "Diselesaikan";
                                                break;
                                            default:
                                                statusText = "Status Tidak Dikenali";
                                                break;
                                        }
                                    }
                                    @statusText
                                </td>
                                <td>
                                    @if (@pengajuan.status == 0)
                                    {
                                        <button class="btn btn-sm btn-primary acc1-button" data-toggle="modal" data-target="@pengajuan.id_pengajuan" data-id_pengajuan="@pengajuan.id_pengajuan">
                                            <i class="fa-solid fa-bars"></i>
                                        </button>
                                    }
                                    @if (@pengajuan.status == 2)
                                    {
                                        <button class="btn btn-sm btn-success acc1-button" data-toggle="modal" data-target="@pengajuan.id_pengajuan" data-id_pengajuan="@pengajuan.id_pengajuan">
                                            <i class="fa-regular fa-file"></i>
                                        </button>
                                    }

                                    <div class="modal fade" id="acc1Modal_@pengajuan.id_pengajuan" tabindex="-1" role="dialog" aria-labelledby="acc1ModelLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title" style="font-size:28px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Submission Approval Menu</h1>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <input class="form-control" type="hidden" name="id_pengajuan">
                                                        <input class="form-control" type="hidden" name="id_mobil">
                                                        <div class="mb-3">
                                                            <label class="control-label">NIM</label>
                                                            <input class="form-control" readonly name="NIM">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="control-label">Name</label>
                                                            <input class="form-control" readonly name="NamaMhs">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="control-label">Vehicle Model</label>
                                                            <input class="form-control" readonly name="CarModel">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="control-label">Fuel</label>
                                                            <input class="form-control" readonly name="Fuel">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="control-label">Scope</label>
                                                            <input class="form-control" readonly name="Skala">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="control-label">Job Description</label>
                                                            <input class="form-control" readonly name="Job">
                                                        </div>
                                                    </form>
                                                    <hr />
                                                    <form class="approvalcar1" method="post">
                                                        <input class="form-control" type="hidden" name="id_pengajuan" />
                                                        <input class="form-control" type="hidden" name="id_mobil" />
                                                        <input class="form-control" type="date" name="tanggal_pemeriksaan" id="tanggalPemeriksaan" hidden/>
                                                        <input class="form-control" name="Skala" hidden />
                                                        <input class="form-control" name="NIM" hidden />
                                                        <input class="form-control" name="status_pemeriksaan" value="0" hidden />
                                                        <div class="mb-3">
                                                            <input type="radio" value=2 name="approvalStatus" id="inspSetuju" />
                                                            <label for="inspSetuju" style="font-size:18px; font-family:'Segoe UI'">Approve</label>
                                                            <input type="radio" value=1 name="approvalStatus" id="inspTidakSetuju" />
                                                            <label for="inspTidakSetuju" style="font-size:18px;font-family:'Segoe UI'">Reject</label><br />
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-success submitApproval">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".acc1-button").click(function () {
            var id_pengajuan = $(this).data("id_pengajuan");
            Approval1Action(id_pengajuan);
        });

        function Approval1Action(id_pengajuan) {
            $.ajax({
                url: "/DaftarPengajuan/Approval1/" + id_pengajuan,
                type: "GET",
                success: function (data) {
                    console.log(data);
                    $("input[name='id_pengajuan']").val(data.id_pengajuan);
                    $("input[name='id_mobil']").val(data.id_mobil);
                    $("input[name='CarModel']").val(data.nama_mobil);
                    $("input[name='Fuel']").val(data.bahan_bakar);
                    $("input[name='Skala']").val(data.skala);
                    $("input[name='NamaMhs']").val(data.nama);
                    $("input[name='NIM']").val(data.nim);
                    $("input[name='Job']").val(data.deskripsi);
                    $("#acc1Modal_" + id_pengajuan).modal("show");
                },
                error: function () {
                    console.log("Error during AJAX request for edit modal content");
                    Swal.fire("Error!", "Terjadi kesalahan saat memuat data Admin untuk diedit.", "error");
                }
            });
        }

        $(".submitApproval").click(function () {
            var approvalData = $(".approvalcar1").serialize(); // Mengambil data dari formulir

            $.ajax({
                type: "POST",
                url: "/DaftarPengajuan/Approve1",
                data: approvalData,
                success: function () {
                    console.log(approvalData);
                    location.reload(); // Memuat ulang halaman setelah berhasil
                },
                error: function () {
                    console.log("Error during AJAX request for approval");
                    Swal.fire("Error!", "Terjadi kesalahan saat menyetujui atau menolak.", "error");
                }
            });
        });
        var today = new Date().toISOString().split('T')[0];

        // Mengatur nilai input tanggal menjadi hari ini
        $('#tanggalPemeriksaan').val(today);
    });

</script>
