@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AutoTra.Models.FormModel>
@{
    ViewData["Title"] = "Inspection Form Data";
    int no = 1;
    var httpcontext = ViewContext.HttpContext;
    string role = httpcontext.Session.GetString("Role");
    if (string.IsNullOrEmpty(role))
    {
        // Session is expired or role is not set, redirect to login layout
        Layout = "~/Views/Shared/Layoutlogin.cshtml";

        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>

        return;
    }
    Console.WriteLine("Role: " + role);
    if (role == "admin")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @if (TempData["Success"] != null)
    {
        <script>
            Swal.fire({
                title: "Success!",
                text: "Data added successfully",
                icon: "success"
            }).then(() => {
                location.reload();
            });
        </script>
    }
}

<div class="row">
    <div class="col-lg-12">
        <br />

        <div class="card-body">

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle me-1"></i>
                        <strong>Sukses!</strong> @TempData["SuccessMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }

            <a asp-controller="Form" class="btn btn-primary" asp-action="Create" title="Add Inspection Form">+ Add Inspection Form</a>
            <br />
            <br />
            <form method="post" onsubmit="return validateSearchForm()">
                <div style="padding-left: 1080px;">
                    <div class="col-lg-12">
                        <div class="input-group mb-12">
                            <input class="form-control" type="text" placeholder="Search Inspection form data by car model.." aria-describedby="button-addon2" name="search">
                            <button class="btn btn-primary" id="button-addon2" type="submit" title="Search">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div class="card">

                <!-- Table with stripped rows -->
                <table class="table datable">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Car Model</th>
                            <th scope="col">Scope</th>
                            <th scope="col">Form Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var form in Model)
                        {
                            <tr>
                                <td>@(no++)</td>
                                <td>
                                @foreach (var car in (IEnumerable<MobilModel>)ViewData["CarData"])
                                {
                                    @if (car.id_mobil == form.id_mobil)
                                    {
                                        <span>@car.nama</span>
                                    }
                                }
                                </td>
                                <td>@form.skala</td>
                                <td>@form.jenis_form</td>
                                <td>@(form.status == 1 ? "Active" : "Non Active")</td>
                                <td>
                                    <button id="delete-button" class="btn btn-sm btn-danger delete-button" data-id="@form.id_form" title="Delete">
                                        <i class="fas fa-trash"></i>
                                    </button>

                                    <a asp-controller="DetailForm" asp-action="Detail" asp-route-id="@form.id_form" class="btn btn-sm btn-success add-detail-button" title="Detail Form">
                                        <i class="fa-solid fa-bars"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".delete-button").click(function () {
            var id = $(this).data("id");
            console.log("Deleting Form with id:", id);

            Swal.fire({
                title: "Delete Inspection Form?",
                text: "Are you sure to delete this data?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete.isConfirmed) {
                    $.ajax({
                        url: "/Form/Delete?id=" + id,

                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                console.log("Inspection Form deleted successfully" + id);
                                Swal.fire("Sukses!", data.message, "success");
                                location.reload();
                            } else {
                                console.log("Failed to delete Inspection Form" + id);
                                Swal.fire("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            console.log("Error during AJAX request");
                            Swal.fire("Error!", "Terjadi kesalahan saat menghapus Inspection Form.", "error");
                        }
                    });
                } else {
                    console.log("Canceled deletion");
                }
            });
        });
    });
</script>

<script>
    function validateSearchForm() {
        var searchTerm = document.forms[0]["search"].value;

        // Jika kolom pencarian kosong, tampilkan SweetAlert dan batalkan pengiriman formulir
        if (searchTerm.trim() === "") {
            Swal.fire({
                title: "Error!",
                text: "Please enter a search term.",
                icon: "error",
            });
            return false;
        }

        return true;
    }
</script>