@model List<AutoTra.Models.PengajuanKendaraanModel>
@{
    ViewData["Title"] = "Vehicle Usage";
    int no = 1;
    var httpcontext = ViewContext.HttpContext;
    string role = httpcontext.Session.GetString("Role");
    string loggedInNIM = httpcontext.Session.GetString("nim");

    if (string.IsNullOrEmpty(role))
    {
        // Session is expired or role is not set, redirect to login layout
        Layout = "~/Views/Shared/Layoutlogin.cshtml";

        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>

        return;
    }
    Console.WriteLine("Role: " + role);
    if (role == "PIC")
    {
        Layout = "~/Views/Shared/LayoutPIC.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @if (TempData["Success"] != null)
    {
        <script>
            Swal.fire({
                title: "Success!",
                text: "Data added successfully",
                icon: "success"
            }).then(() => {
                location.reload();
            });
        </script>
    }
}


<div class="row">
    <div class="col-lg-12">
        <br />

        <div class="card-body">

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle me-1"></i>
                        <strong>Sukses!</strong> @TempData["SuccessMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }

            <a asp-controller="PengajuanKendaraan" class="btn btn-primary" asp-action="Create">+ Add Submission</a>
            <br />
            <br />
            @*            <form method="post">
            <div style="padding-left: 1080px;">
            <div class="col-lg-12">
            <div class="input-group mb-12">
            <input class="form-control" type="text" placeholder="Search Category Inspection data by name.." aria-describedby="button-addon2" name="search">
            <button class="btn btn-outline-secondary" id="button-addon2" type="submit">Cari</button>
            </div>
            </div>
            </div>
            </form>
            <br />*@
            <div class="card">

                <!-- Table with stripped rows -->
                <table class="table datable">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Date of filing</th>
                            <th scope="col">NIM</th>
                            <th scope="col">Lecturer Name</th>
                            <th scope="col">Vehicle Name</th>
                            <th scope="col">Scope</th>
                            <th scope="col">Job description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pengajuan in Model.Where(p => p.nim == loggedInNIM))
                        {
                            <tr>
                                <td>@(no++)</td>
                                <td>@(pengajuan.tanggl_pengajuan.ToString("dddd, dd MMMM yyyy"))</td>
                                <td>@pengajuan.nim</td>
                                <td>@ViewBag.dsndictinary[pengajuan.npk]</td> <!-- Displaying lecturer's name based on npk -->
                                <td>
                                    @if (ViewBag.Mobildictinary != null && ViewBag.Mobildictinary.ContainsKey(pengajuan.id_mobil))
                                    {
                                        @ViewBag.Mobildictinary[pengajuan.id_mobil]
                                    }
                                </td>
                                <td>@pengajuan.skala</td>
                                <td>@pengajuan.deskripsi</td>
                                <td>
                                    @{
                                        string statusText = "";
                                        switch (pengajuan.status)
                                        {
                                            case 0:
                                                statusText = "Waiting for Confirmation";
                                                break;
                                            case 1:
                                                statusText = "Not Approved";
                                                break;
                                            case 2:
                                                statusText = "Approved";
                                                break;
                                            case 3:
                                                statusText = "Waiting for Confirmation";
                                                break;
                                            case 4:
                                                statusText = "In Progress";
                                                break;
                                            case 5:
                                                statusText = "Finished";
                                                break;
                                            default:
                                                statusText = "Unrecognized Status";
                                                break;
                                        }
                                    }
                                    @statusText
                                </td>
                                <td>
                                    @if (pengajuan.status == 0)
                                    {
@*                                        <button id="detail-button" class="btn btn-sm btn-primary detail-button">
                                            <i class="fa-solid fa-bars"></i>
                                        </button>
                                        <button id="detail-button" class="btn btn-sm btn-danger detail-button">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>*@
                                    }
                                    @if (pengajuan.status == 1)
                                    {

                                    }
                                    @if (@pengajuan.status == 2)
                                    {
                                        <a asp-controller="PengajuanKendaraan" asp-action="FirstCheck" asp-route-id="@pengajuan.id_pengajuan" class="btn btn-sm btn-success">
                                            <i class="fa-regular fa-file"></i>
                                        </a>
                                    }
                                    @if (pengajuan.status == 4)
                                    {
                                        <a asp-controller="PengajuanKendaraan" asp-action="FinalCheck" asp-route-id="@pengajuan.id_pengajuan" class="btn btn-sm btn-success">
                                            <i class="fa-regular fa-file"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>

        </div>
    </div>
</div>
