@model AutoTra.Models.PengajuanKendaraanModel
@{
    ViewData["Title"] = "Final Check Inspection Reports Details";
    int no = 1;
    var httpcontext = ViewContext.HttpContext;
    string role = httpcontext.Session.GetString("Role");
    if (string.IsNullOrEmpty(role))
    {
        // Session is expired or role is not set, redirect to login layout
        Layout = "~/Views/Shared/Layoutlogin.cshtml";

        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>

        return;
    }
    Console.WriteLine("Role: " + role);
    if (role == "Dosen")
    {
        Layout = "~/Views/Shared/LayoutDosen.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <!-- Table with stripped rows -->
                    <table id="example" class="display table table-hover table-bordered table-condensed table-striped grid nowrap">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Inspection Item</th>
                                <th scope="col">Inspection Standard</th>
                                <th scope="col">Inspection Category</th>
                                <th scope="col">Inspection Method</th>
                                <th scope="col">Inspection Result</th>
                                <th scope="col">Reason Not Suitable</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var dtl in (IEnumerable<PengajuanKendaraanModel>)ViewData["DataDetail"])
                            {
                                @foreach (var item in (IEnumerable<ItemModel>)ViewData["DataItem"])
                                {
                                    @if (item.id_item == dtl.id_item)
                                    {
                                        <tr>
                                            <td>
                                                <span>
                                                    @(
                                                        no++
                                                        )
                                                </span>
                                            </td>
                                            <td>
                                                <span>@item.item_pemeriksaan</span>
                                            </td>
                                            <td>
                                                <span>@item.standart_pemeriksaan</span>
                                            </td>
                                            <td>
                                                <span>@item.kategori_pemeriksaan</span>
                                            </td>
                                            <td>
                                                <span>@item.metode_pemeriksaan</span>
                                            </td>
                                            <td>
                                                <span>@(dtl.hasil_inspeksi != "null" ? dtl.hasil_inspeksi : "Not Good")</span>
                                            </td>
                                            <td>
                                                <span>@(dtl.alasan != "null" ? dtl.alasan : "-")</span>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .vin-input {
        width: fit-content;
    }

    .vin-boxes {
        display: flex;
        gap: 9px;
    }

    .vin-box {
        width: 30px;
        height: 30px;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

        .vin-box[readonly] {
            background-color: #f0f0f0; /* Warna latar abu-abu saat dalam mode readonly */
            border-color: #ccc; /* Warna border sesuai preferensi Anda */
        }

        .vin-box:focus {
            outline: none;
            border: 1px solid #4283db;
            border-radius: 3px;
        }

        .vin-box::placeholder {
            opacity: 20px;
        }
</style>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'pdf'
            ],
            searching: false,
            info: false,
            paging: false,         // Menyembunyikan pengaturan halaman
            lengthChange: false    // Menyembunyikan opsi perubahan panjang halaman
        });
    });
</script>
