@model AutoTra.Models.PengajuanKendaraanModel
@{
    ViewData["Title"] = "Final Check Inspection Reports Details";
    int no = 1;
    var httpcontext = ViewContext.HttpContext;
    string role = httpcontext.Session.GetString("Role");
    if (string.IsNullOrEmpty(role))
    {
        // Session is expired or role is not set, redirect to login layout
        Layout = "~/Views/Shared/Layoutlogin.cshtml";
        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>
        return;
    }
    Console.WriteLine("Role: " + role);
    if (role == "Dosen")
    {
        Layout = "~/Views/Shared/LayoutDosen.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-container">
                        <!-- Table with stripped rows -->
                        <table id="example" class="display table table-hover table-bordered table-condensed table-striped grid nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Inspection Item</th>
                                    <th scope="col">Inspection Standard</th>
                                    <th scope="col">Inspection Category</th>
                                    <th scope="col">Inspection Method</th>
                                    <th scope="col">Inspection Result</th>
                                    <th scope="col">Reason Not Suitable</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dtl in (IEnumerable<PengajuanKendaraanModel>)ViewData["DataDetail"])
                                {
                                    @foreach (var item in (IEnumerable<ItemModel>)ViewData["DataItem"])
                                    {
                                        @if (item.id_item == dtl.id_item)
                                        {
                                            <tr>
                                                <td>
                                                    <span>
                                                        @(no++)
                                                    </span>
                                                </td>
                                                <td style ="text-align: center;">
                                                    <span>@item.item_pemeriksaan</span>
                                                </td>
                                                <td style ="text-align: center;">
                                                    <span>@item.standart_pemeriksaan</span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <span>@item.kategori_pemeriksaan</span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <span>@item.metode_pemeriksaan</span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <span>@(dtl.hasil_inspeksi != "null" ? dtl.hasil_inspeksi : "Not Good")</span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <span>@(dtl.alasan != "null" ? dtl.alasan : "-")</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                        <!-- Container for PDF button at the bottom -->
                        <div class="buttons-container-bottom">
                            <!-- Place the PDF button here -->
                        </div>
                    </div>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .vin-input {
        width: fit-content;
    }

    .vin-boxes {
        display: flex;
        gap: 9px;
    }

    .vin-box {
        width: 30px;
        height: 30px;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

        .vin-box[readonly] {
            background-color: #f0f0f0;
            border-color: #ccc;
        }

        .vin-box:focus {
            outline: none;
            border: 1px solid #4283db;
            border-radius: 3px;
        }

        .vin-box::placeholder {
            opacity: 20px;
        }

    #example_wrapper .dt-buttons {
        margin-bottom: 20px;
    }

        #example_wrapper .dt-buttons .buttons-pdf {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
            margin-right: 10px;
        }

    .table-container {
        position: relative;
    }

    .buttons-container-bottom {
        margin-top: 20px;
    }

    #example_wrapper .dt-buttons,
    #example {
        clear: both;
    }

        #example th,
        #example td {
            text-align: center;
        }

            #example th:first-child,
            #example td:first-child {
                text-align: left;
            }
</style>

<script>
    function validateNumberInput(input) {
        input.value = input.value.replace(/\D/g, '');
        if (input.value.length > 15) {
            input.value = input.value.slice(0, 15);
        }
    }

    function autoCapsLock(input) {
        input.value = input.value.toUpperCase();
        moveToNextInput(input);
    }

    $(document).ready(function () {
        var table = $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    className: 'buttons-pdf',
                    text: 'Download PDF',
                    customize: function (doc) {
                        // Custom styling for PDF
                        var tableRows = doc.content[1].table.body;
                        for (var i = 0; i < tableRows.length; i++) {
                            for (var j = 0; j < tableRows[i].length; j++) {
                                tableRows[i][j].alignment = 'center';
                            }
                        }
                    }
                }
            ],
            searching: false,
            info: false,
            paging: false,
            lengthChange: false
        });

        // Move PDF button to the bottom
        var pdfButton = $('.buttons-pdf');
        pdfButton.appendTo('.buttons-container-bottom');
    });
</script>
