@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AutoTra.Models.DetailFormModel
@{
    ViewData["Title"] = "Add Item Inspection to Form Inspection";
    int no = 1;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card-body">
                    <form>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="id_mobil" />
                            <label asp-for="jenis_mobil" class="control-label">Vechile Type</label>
                            <input asp-for="jenis_mobil" class="form-control" readonly>
                            <span asp-validation-for="jenis_mobil" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="nama" class="control-label">Vechile Model</label>
                            <input asp-for="nama" class="form-control" id="nama" readonly>
                            <span asp-validation-for="nama" class="text-danger"></span>
                        </div>
                        <div class="vin-input">
                            <label for="vin" class="control-label">VIN (Vehicle Identification Number)</label>
                            <div class="vin-boxes">
                                <input asp-for="vin" type="text" style="display: none;" />
                                @if (ViewData["VinCharacters"] != null)
                                {
                                    char[] vinCharacters = (char[])ViewData["VinCharacters"];
                                    for (var i = 0; i < 17; i++)
                                    {
                                        <input class="vin-box" maxlength="1" value="@vinCharacters[i]" oninput="autoCapsLock(this)" onkeyup="moveToNextInput(this, event)" readonly/>
                                    }
                                }
                            </div>
                            <span asp-validation-for="vin" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="no_engine" class="control-label">Engine Number</label>
                            <input asp-for="no_engine" class="form-control" id="no_engine" readonly>
                            <span asp-validation-for="no_engine" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="warna" class="control-label">Vechile Color</label>
                            <input asp-for="warna" class="form-control" id="warna" readonly>
                            <span asp-validation-for="warna" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="kilometer" class="control-label">Kilometer</label>
                            <input asp-for="kilometer" class="form-control" id="kilometer" readonly>
                            <span asp-validation-for="kilometer" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="bahan_bakar" class="control-label">Fuel</label>
                            <input asp-for="bahan_bakar" class="form-control" id="bahan_bakar" readonly>
                            <span asp-validation-for="bahan_bakar" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label for="status" class="control-label">Status</label>
                            <input asp-for="status" class="form-control" id="status" value="1">
                            <span asp-validation-for="status" class="text-danger"></span>
                        </div>
                    </form>
                    <br />
                        <hr />
<form method="post" asp-action="Create" asp-controller="DetailForm">
    <input type="hidden" asp-for="id_form" />
    <div class="form-group">
        <div class="col-lg-3">
            <div class="input-group mb-6">
                <select asp-for="id_item" class="form-control" id="id_item" required>
                    <option value="">--- Choose Item for Form Inspection ---</option>
                    @foreach (var item in (IEnumerable<ItemModel>)ViewData["DataItem"])
                    {
                        var itemExists = false;
                        foreach (var dtl in (IEnumerable<DetailFormModel>)ViewData["DataDetail"])
                        {
                            if (item.id_item == dtl.id_item)
                            {
                                itemExists = true;
                                break;
                            }
                        }
                        if (!itemExists)
                        {
                            <option value="@item.id_item">@item.item_pemeriksaan</option>
                        }
                    }
                </select>
                <span asp-validation-for="id_item" class="text-danger"></span>
                <button class="btn btn-primary" type="submit" title="Add">Add</button>
            </div>
        </div>
    </div>
</form>
                </div>

                <br />
                <div class="card">

                    <!-- Table with stripped rows -->
                    <table class="table datable">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Inspection Item</th>
                                <th scope="col">Inspection Standart</th>
                                <th scope="col">Inspection Category</th>
                                <th scope="col">Inspection Method</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach(var dtl in (IEnumerable<DetailFormModel>)ViewData["DataDetail"])
                            {
                                @foreach (var item in (IEnumerable<ItemModel>) ViewData["DataItem"])
                                 {
                                    @if (item.id_item == dtl.id_item)
                                    {
                                <tr>
                                                                <td>
                                <span>@(no++)</span>                                    
                            </td>
                                    <td>
                                        <span>@item.item_pemeriksaan</span>                                    
                                    </td>
                                    <td>
                                        <span>@item.standart_pemeriksaan</span>                                    
                                    </td>
                                    <td>
                                        <span>@item.kategori_pemeriksaan</span>                                    
                                    </td>
                                    <td>
                                        <span>@item.metode_pemeriksaan</span>                                    
                                    </td>
                                                                <td>
                                <button id="delete-button" class="btn btn-sm btn-danger delete-button" data-id="@item.id_item" title="Delete">
                                <i class="fas fa-trash"></i>
                                </button>
                            </td>
                                </tr>
                                    }
                                 }
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .vin-input {
        width: fit-content;
    }

    .vin-boxes {
        display: flex;
        gap: 9px;
    }

    .vin-box {
        width: 30px;
        height: 30px;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

        .vin-box[readonly] {
            background-color: #f0f0f0; /* Warna latar abu-abu saat dalam mode readonly */
            border-color: #ccc; /* Warna border sesuai preferensi Anda */
        }

        .vin-box:focus {
            outline: none;
            border: 1px solid #4283db;
            border-radius: 3px;
        }

        .vin-box::placeholder {
            opacity: 20px;

        }
</style>

<script>
    function validateNumberInput(input) {

        input.value = input.value.replace(/\D/g, '');


        if (input.value.length > 15) {
            input.value = input.value.slice(0, 15);
        }
    }
    function autoCapsLock(input) {
        input.value = input.value.toUpperCase();
        moveToNextInput(input);
    }

$(document).ready(function () {
    $(".add-item-button").click(function () {
        var addItem = $("#addItem").serialize();
        $.ajax({
            url: "/DetailForm/Create",
            type: "POST",
            data: addItem, 
            success: function (data) {
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error(error); 
            }
        });
    });
});

    $(document).ready(function () {
        $(".delete-button").click(function () {
            var id = $(this).data("id");
            console.log("Deleting Item for Form with id:", id);

            Swal.fire({
                title: "Delete Inspection Item for Form?",
                text: "Are you sure to delete this data?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete.isConfirmed) {
                    $.ajax({
                        url: "/DetailForm/Delete?id=" + id,

                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                console.log("Inspection Item for Form deleted successfully" + id);
                                Swal.fire("Sukses!", data.message, "success");
                                location.reload();
                            } else {
                                console.log("Failed to delete Inspection Form" + id);
                                Swal.fire("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            console.log("Error during AJAX request");
                            Swal.fire("Error!", "Terjadi kesalahan saat menghapus Inspection Form.", "error");
                        }
                    });
                } else {
                    console.log("Canceled deletion");
                }
            });
        });
    });
</script>