@{
    ViewData["Title"] = "Home Page";
}

<div class="chart-container" style="position: absolute; width:50%; margin:auto;">
    <div class="chart-info-box">
        <canvas id="myPieChart" width="400" height="400"></canvas>
        <div class="chart-info" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; text-align: right; color: #555;">
            <h4>User Data</h4>
            <p>Lecturer: @ViewBag.DosenCount</p>
            <p>PIC: @ViewBag.PICCount</p>
    </div>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function () {
            console.log('DosenCount:', @ViewBag.DosenCount);
            console.log('PICCount:', @ViewBag.PICCount);

            var ctx = document.getElementById('myPieChart').getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Dosen', 'PIC'],
                    datasets: [{
                        data: [@ViewBag.DosenCount, @ViewBag.PICCount],
                        backgroundColor: ['rgba(255, 0, 0, 0.7)', 'rgba(0, 0, 128, 0.7)'],
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    plugins: {
                        datalabels: {
                            color: 'white',
                            display: function (context) {
                                return context.dataset.data[context.dataIndex] > 0;
                            },
                            formatter: function (value, context) {
                                return context.chart.data.labels[context.dataIndex] + ': ' + value;
                            }
                        }
                    }
                }
            });
        });
    </script>

    }