@model List<AutoTra.Models.AdminModel>
@{
    ViewData["Title"] = "Admin Data";
    int no = 1;

    @if (TempData["Success"] != null)
    {
        <script>
            Swal.fire({
                title: "Success!",
                text: "Data added successfully",
                icon: "success"
            }).then(() => {
                location.reload();
            });
        </script>
    }

    @if (TempData["IsUpdateSuccess"] != null)
    {
        <script>
            Swal.fire({
                title: "Success!",
                text: "Data updated successfully",
                icon: "success"
            }).then(() => {
                location.reload();
            });
        </script>
    }
}

<div class="row">
    <div class="col-lg-12">
        <br />

        <div class="card-body">

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle me-1"></i>
                        <strong>Sukses!</strong> @TempData["SuccessMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }

            <a asp-controller="Admin" class="btn btn-primary" asp-action="Create" title="Add Admin">+ Add Admin</a>
            <br />
            <br />
            <form method="post" onsubmit="return validateSearchForm()">
                <div style="padding-left: 1080px;">
                    <div class="col-lg-12">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Search Admin data by name.." aria-describedby="button-addon2" name="search">
                            <button class="btn btn-primary" id="button-addon2" type="submit" title="Search">Search</button>
                        </div>
                    </div>
                </div>
            </form>

            <br />
            <div class="card">

                <!-- Table with stripped rows -->
                <table class="table datable">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">NPK</th>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Role</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var adm in Model)
                        {
                            <tr class="@((adm.status != 1) ? "nonactive-row" : "")">
                                <td>@(no++)</td>
                                <td>@adm.npk</td>
                                <td>@adm.nama</td>
                                <td>@adm.username</td>
                                <td>
                                    <span class="password-field" data-password="@adm.password">*******</span>
                                </td>
                                <td>@adm.peran</td>
                                <td>@(adm.status == 1 ? "Active" : "Non Active")</td>
                                <td>
                                    <button id="delete-button" class="btn btn-sm btn-danger delete-button" data-npk="@adm.npk" title="Delete">
                                        <i class="fas fa-trash"></i>
                                    </button>

                                    <a asp-controller="Admin" asp-action="Edit" asp-route-id="@adm.npk" class="btn btn-sm btn-primary" title="Update">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <button class="btn btn-sm btn-info btn-info-modal" data-toggle="modal" data-target="#infoModal_@adm.npk" title="Info">
                                        <i class="fas fa-info-circle"></i>
                                    </button>

                                    <div class="modal fade" id="infoModal_@adm.npk" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true" >
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title mx-auto">Admin Information</h5>
                                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <strong>NPK :</strong>@adm.npk<br />
                                                    <strong>Name :</strong>@adm.nama<br />
                                                    <strong>Username :</strong><span class="password-field" data-password="@adm.password">*******</span><br />
                                                    <strong>Password :</strong>@adm.password<br />
                                                    <strong>Role :</strong>@adm.peran<br />
                                                    <strong>Status :</strong>@(adm.status == 1 ? "Active" : "Non Active")<br />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Close">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="editModal_@adm.npk" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Admin</h5>
                                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-controller="Admin" asp-action="Edit" method="post">
                                                        <input type="hidden" name="npk" value="@adm.npk" />

                                                        <div class="mb-3">
                                                            <label for="editNama" class="form-label">Nama</label>
                                                            <input type="text" class="form-control" id="editNama" name="nama" value="@adm.nama">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="editUsername" class="form-label">Username</label>
                                                            <input type="text" class="form-control" id="editUsername" name="username" value="@adm.username">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="editPassword" class="form-label">Password</label>
                                                            <input type="password" class="form-control" id="editPassword" name="password" value="@adm.password">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="editPeran" class="form-label">Peran</label>
                                                            <input type="text" class="form-control" id="editPeran" name="peran" value="@adm.peran">
                                                        </div>

                                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>

        </div>
    </div>
</div>
<style>
    .nonactive-row {
        background-color: #ffcccc; /* Warna merah */
    }
</style>


<script>
    $(document).ready(function () {
        $(".delete-button").click(function () {
            var npk = $(this).data("npk");
            handleAction("Delete admin?", "Are you sure you want to delete this Admin?", "/Admin/Delete/" + npk, "Admin deleted successfully", "Terjadi kesalahan saat menghapus Admin.");
        });

        $(".edit-button").click(function () {
            var npk = $(this).data("npk");
            handleEditAction(npk);
        });

        function handleAction(title, text, url, successMessage, errorMessage) {
            Swal.fire({
                title: title,
                text: text,
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete",
                cancelButtonText: "Batal",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                console.log(successMessage);
                                Swal.fire({
                                    title: "Success!",
                                    text: data.message,
                                    icon: "success",
                                }).then(() => {
                                    location.reload();
                                });
                            } else {
                                console.log("Failed to perform action");
                                Swal.fire("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            console.log("Error during AJAX request");
                            Swal.fire("Error!", errorMessage, "error");
                        }
                    });
                } else {
                    console.log("Canceled action");
                }
            });
        }

        function handleEditAction(npk) {
            $.ajax({
                url: "/Admin/Edit/" + npk,
                type: "GET",
                success: function (data) {
                    $("#editModal_" + npk + " .modal-body").html(data);
                    $("#editModal_" + npk).modal("show");
                },
                error: function () {
                    console.log("Error during AJAX request for edit modal content");
                    Swal.fire("Error!", "Terjadi kesalahan saat memuat data Admin untuk diedit.", "error");
                }
            });
        }
    });
</script>

<script>
    function validateSearchForm() {
        var searchTerm = document.forms[0]["search"].value;

        // Jika kolom pencarian kosong, tampilkan SweetAlert dan batalkan pengiriman formulir
        if (searchTerm.trim() === "") {
            Swal.fire({
                title: "Error!",
                text: "Please enter a search term.",
                icon: "error",
            });
            return false;
        }

        return true;
    }
</script>